.crm-grid-col-headers-inner .crm-grid-col-header, .crm-grid-fixed-col-headers-inner .crm-grid-col-header{
    box-sizing: border-box;
    padding: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #d3d3d3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.crm-grid-fixed-col-headers-inner {
    z-index: 10;
}

.crm-grid-col-headers-inner .crm-grid-col-header.last-col {
    border-right-width: 1px;
    border-right-style: solid;
}

.crm-grid-col-resize-tracker {
    height: 100%;
    position: absolute;
    width: 1px;
    background: gray;
    top: 0px;
    z-index: 1;
}

.crm-grid-col-resize-tracker.ngHide{
    display: none !important;
}

.crm-grid-gradient {
    background: -webkit-linear-gradient(bottom,#d3d3d3,#FFFFFF);
    background: linear-gradient(bottom,#d3d3d3,#FFFFFF);
    background: -o-linear-gradient(bottom,#d3d3d3,#FFFFFF);
    background: -ms-linear-gradient(bottom,#d3d3d3,#FFFFFF);
    background: -moz-linear-gradient(bottom,#d3d3d3,#FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#d3d3d3')
} 

.crm-grid-col-headers-container {
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
    box-sizing: border-box;
}

.crm-grid.resizing-col{
    cursor:col-resize;
}

.crm-fixed-col-row .crm-grid-cell {
    border-width: 0px;
}

.crm-grid-cell {
    box-sizing: border-box;
    border-width: 1px;
    border-right-style: solid;
    border-color: #d3d3d3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:10px;
}

.crm-grid.crm-grid-lines-off .crm-grid-cell {
    border-color: transparent;
}

.crm-grid-col-header .resize-handle {
    width: 3px;
    position: absolute;
    float: right;
    height: 100%;
    right: 0px;
    top: 0px;
}

.crm-grid-col-header .resize-handle:hover {
    cursor: col-resize;
}

.crm-grid-row {
    border-width:0px;
    /*border-style:solid;
    border-color:transparent;
    border-bottom-color:#d3d3d3;*/
    box-sizing: border-box;
    overflow: hidden;
}

.crm-grid-row:nth-child(even) {
    background: #FFFFFF;
}

.crm-grid-row:nth-child(odd) {
    background: #F4F5F6;
}

.crm-grid-row.selected > * {
    background:#E9F1F7 !important
}

.crm-grid-viewport:focus {
    outline: none;
}

.crm-grid-viewport {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    box-sizing: border-box;
    position:relative;
    border-top-width: 0px;
}

.fixed-col-viewport.crm-grid-viewport {
    border-left-width:1px;
}

.crm-grid.crm-grid-lines-off .fixed-col-viewport.crm-grid-viewport {
    border-left-width:0px;
}